*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#parent{
    border-radius: 50px;
    background-color: rgb(130, 126, 126);
    height: 80vh;
    width: 90vw;
     display: flex;
     justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
}
#child1{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    border-radius: 15px;
}
#child2{
    height: 200px;
    width: 200px;
    background-color: rgb(206, 101, 14);
    border-radius: 15px;
}
#child3{
    height: 200px;
    width: 200px;
    background-color: rgb(25, 211, 62);
    border-radius: 15px;
}
#child4{
    height: 200px;
    width: 200px;
    background-color: rgb(71, 25, 211);
    border-radius: 15px;
}
#child5{
    height: 200px;
    width: 200px;
    background-color: rgb(217, 12, 152);
    border-radius: 15px;
}
img{
    height:200px;
    width: 200px;
    border-radius: 50%;
    justify-content: center;
}


