*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    background-color: black;
}
.container{
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    height: 150px;
    width: 150px;
    background-color: blue;
    cursor: pointer;
    transition-property: width;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   transform: rotate(30deg);
}


.box:hover{
    background-color: green;
    
}
